@page "/Account/AccessDenied"

<PageTitle>Access denied</PageTitle>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-danger text-white">
                    <h1 class="mb-0">Access Denied</h1>
                </div>
                <div class="card-body">
                    <p class="lead">You do not have permission to access this resource.</p>
                    <p>Please contact an administrator if you believe you should have access to this page.</p>
                    <a href="/" class="btn btn-primary">Return to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>