.special-offer-img {
    height: 140px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.special-offer {
    transition: transform 0.2s, box-shadow 0.2s;
    border: none;
    overflow: hidden;
}

    .special-offer:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }
